<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{or site.url (or siteRootUrl siteRootPath)}}">{{site.title}}</a>
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Links</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://nats.io" target="_blank">NATS.io</a>
            <a class="navbar-item" href="https://twitter.com/nats_io" target="_blank">Twitter</a>
            <a class="navbar-item" href="https://slack.nats.io" target="_blank">Slack</a>
            <a class="navbar-item" href="https://github.com/nats-io" target="_blank">GitHub</a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
